/* Global Stylings */
html {
    font-family: sans-serif;
    line-height: 130%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Pokemon List Stylings */

.pokemon-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.poke-button {
    background-color: rgb(53, 144, 219);
    color: white;
    font-weight: 500;
    border: solid 2px rgb(53, 144, 219);
    border-radius: 4px;
    padding: 7px;
    margin: 5px;
    width: 95%;
}

.poke-button:hover {

    background-color: rgba(190, 31, 31);
    cursor: pointer;
    border: solid 2px rgb(139, 0, 0);
}

/* Pokedex Styilngs */
.pokedex__body {
    background-color: rgb(190, 31, 31);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin-top: 40px;
    margin-inline: auto;
    display: flex;
}

.pokedex__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokedex__search-field,
.pokedex__search-button {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.pokedex__icon {
    width: 15%;
    margin: 20px;
}

.pokedex__screen {
    background-color: rgb(189, 225, 255);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}


/* Responsiveness for smaller screens */
@media all and (max-width: 850px) {
    .pokedex__body {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
}