/* Global */
html {
    height: 100%;
    font-family: sans-serif;
    line-height: 130%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Navbar */
.branding {
    width: 25%;
}


/* Background */
body {
    max-height: 100%;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    align-items: center;
}

.sprite-icon__background {
    width: 150px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #8b1f1f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b0000;
    ;
}

/* Modal */
.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.pokemon-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.modal-header {
    display: flex;
    align-items: center;
}

.modal-header h1,
.modal-header .close {
    margin-inline: 1rem;
    margin-block: 0;
    padding: 0;
}

.name-label,
.type-label {
    text-transform: capitalize;
}

.sprite-icon {
    height: 150px;
    width: auto;
}

.types-container {
    display: flex;
}

.type-label {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
    border: solid 1px black;
    border-radius: 4px;
    padding: 3px;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    background: #A8A878;
}

/* Type Colours */
.bug-type {
    background: #7c8500;
}

.dragon-type {
    background: #5b17fa;
}

.electric-type {
    background: #d1e000;
}

.fighting-type {
    background: #8b1500;
}

.fire-type {
    background: #db6300;
}

.flying-type {
    background: #019ddb;
}

.ghost-type {
    background: #3a015a;
}

.grass-type {
    background: #3f8b00;
}

.ground-type {
    background: #E0C068;
}

.ice-type {
    background: #98D8D8;
}

.poison-type {
    background: #A040A0;
}

.psychic-type {
    background: #F85888;
}

.rock-type {
    background: #B8A038;
}

.water-type {
    background: #6890F0;
}

.fairy-type {
    background: #F0B6BC;
}

.dark-type {
    background: #705848;
}

.steel-type {
    background: #B8B8D0;
}

/* List */
.pokemon-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.poke-button {
    background-color: #3590db;
    color: #ffffff;
    font-weight: 500;
    border: solid 2px #3590db;
    border-radius: 4px;
    padding: 7px;
    margin: 5px;
    width: 100%;
    text-transform: capitalize;
}

.poke-button:hover {

    background-color: #be1f1f;
    color: #ffffff;
    cursor: pointer;
    border: solid 2px #8b0000;
}

/* Pokedex */
.pokedex__body {
    background-color: #be1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 70vh;
    margin-inline: auto;
    display: flex;
}

.pokedex__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokedex__search-field,
.pokedex__search-button {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.pokedex__icon {
    width: 15%;
    margin: 20px;
}

.pokedex__screen {
    background-color: #bde1ff;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    overflow-y: auto;
}

/* Responsive */
@media all and (max-width: 850px) {
    .pokedex__body {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .background .name-label {
        font-size: 25px;
    }
}